<h3>申报问题</h3>
<!-- form表单 -->
<form class="layui-form" action="">  

<!-- 学生账号，问题内容，是否解决，发布时间 -->
<!-- 1.学生账号 -->
<div class="layui-form-item">
  <label class="layui-form-label layui-bg-gray">学生账号</label>
   <div class="layui-input-inline">
      <input type="text" name="stu_id" class="layui-input"
      placeholder="请输入学生账号" id="stu_id">
</div>
</div>

<!-- 2.问题内容 -->
<div class="layui-form-item">
  <label class="layui-form-label layui-bg-gray">问题内容</label>
   <div class="layui-input-inline">
      <input type="text" name="issue" class="layui-input"
      placeholder="请输入问题的内容" id="issue">
</div>
</div>

<!-- 3.问题是否解决 -->
<div class="layui-form-item">
  <label class="layui-form-label layui-bg-gray">解决进程</label>
   <div class="layui-input-inline">
      <input type="text" name="plan" class="layui-input"
      placeholder="请输入问题解决进程" id="plan">
</div>
</div>

<!--4. 申报问题时间 -->
<div class="layui-form-item">
  <label class="layui-form-label layui-bg-gray">发布时间</label>
   <div class="layui-input-inline">
      <input type="text" name="start" class="layui-input"
      placeholder="请输入公告发布时间" id="start">
</div>
</div>

<!-- 5.公告发布按钮 -->
<div class="layui-form-item">
    <div class="layui-input-block">
    <button class="layui-btn" lay-submit lay-filter="add">申报</button>
    </div>
</div>
</form>


<script>
   layui.use(['form','laydate'],function(){
	   var form=layui.form,
	   laydate=layui.laydate;
	   laydate.render({elem:'#start',type: 'date'});
	   //表单的提交操作，改成异步请求的提交
	   form.on('submit(add)',function(data){
		   
		   alert(JSON.stringify(data.field));
		   $.ajax({
			    url : '/question/add', //请求的路径
			    data : data.field,  //传递的参数
		        type :'post',
		        dataType :'json',
		        success: function(data){
		        	if(data.code==0){
			        	//成功了,跳转到列表页面
			        	gotoURL('/question/list');
			        }else{
			        	//失败了
			        	layer.msg(data.msg);
			        }
		        }  ,
			   error:function(){  //失败的回调
				   layer.msg("请求失败");
			   }
		   }); 
		   return false;//阻止原来的表单的提交动作
	   });
   });
</script>